html, 
body {
    margin: 0;
    font-family: Monserrat;
}

/* Typography */

h1 {
    color: #FFDE59;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 21.681px */
    letter-spacing: -0.601px;
    margin: 0;
    padding: 0.125em;
}

h1 span{
    margin: 0;
    color: whitesmoke;
}

h2{
    color: #FFF;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 43.28px */
    letter-spacing: -1.2;
    
    text-align: left;
}

.post-date{
    color: #FFF;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-excerpt{
    color: #FFF;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2,
.post-date,
.post-excerpt{
    margin: 0 1rem 1rem 0;
}

#blog-date{
    color: #000;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#blog-title{
    color: #141414;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 25.968px */
}

#blog-excerpt{
    color: #505050;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
}

.footer-title,
.footer-copyright{
    margin: 0;
    color: whitesmoke;
}

.about-title,
#blog-context-title{
    color: #151515;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 38.952px */
    text-align: center;
}

.about-subtitle{
    display: block;
    color: #151515;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 38.952px */
    letter-spacing: -1.08px;
    margin: 0 auto;
}

.about-paragraph{
    text-align: justify;
}

/* Blog.html Typography */
#blog-context-title{
    margin: 0.625rem auto 0 auto;
}

#blog-context-date{
    text-align: center;
    margin: 0 auto auto 0.625rem;
    font-size: 0.85rem;
}

#blog-context-intro,
#blog-context{
    text-align: justify;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif !important;
}

#blog-context-subtitle,
#recent-posts-title{
    text-align: justify;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#recent-posts-title{
    margin-bottom: 0;
}

/* Layout */

.container,
footer{
    width: 90%;
    background-color: #292929 !important;
    margin: 0 auto;
    padding: 0.3125rem;
    box-sizing: border-box;
}

.navbar-brand{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px dotted #a190b6;
}

.featured-image-div{
    width: 90%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.featured-text{
    display: block;
    grid-column: 1/4;
    grid-row: 1/1;
    padding-left: 1rem;
    background-color: rgba(110,114,119,0.5);
    width: auto;
    height: 48vh;
    padding: 1rem;
}

#blog-list,
#recent-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

#blog-list,
#recent-posts,
#about{
    width: 90%;
    margin: 1rem auto; 
}

#about-me,
#about-details,
#blog-context-div,
#recent-posts{
    margin: 1rem auto;
    display: block;
    width: 90%;
    padding: 0.3125rem;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

#blog-div{
    padding: 1rem;
    border: 1px dashed lightgrey;
}

footer{
    display: block;
    text-align: center;
    padding: 1rem;
}

/* Links */

header a {
    display: flex;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

#blog-title a{
    color: #000;
}

/* Nav Styles */

.nav-link {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
    cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
    color: #FFDE59;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-list{
    color: whitesmoke;
}

/* Images */
.site-logo{
    height: 2.25rem;
    flex-shrink: 0;
    margin-top: 0px;
    margin-right: 0.3125rem;
    margin-left: 0.625rem;
    margin: 0 0.125rem 0 0.625rem;
}

.featured-image,
#article-featured-image{
    width: 100%;
    top: auto;
    
    grid-column: 1/-1;
    grid-row: 1/4;
}

#blog-img{
    width: 100%;
    border-radius: 0.25rem;
}

.profile-pic{
    display: block;
    width: 25vw;
    border-radius: 50%;
    margin: 0 auto;
}

/* Media Reference */

/* Narrow Screen */
@media (max-width: 767px) {
    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    } 
}

/* Mobile Screen */
@media (max-width: 600px){
    /* Typography */
    h2{
        font-size: 4vh;
    }
    
    .post-excerpt{
        visibility: hidden;
    }
    
    .featured-text{
        height: 20vh;
    }
    
    .about-title,
    #blog-context-title{
        font-size: 8vw;
    }

    .about-subtitle{
        font-size: 6vw;
    }
    
    /* Image */
    .profile-pic{
        width: 40vw;
    }
}

/* Narrower Mobile Screen */
@media (max-width: 380px) {
    /* Typography */
    h2{
        font-size: 2.5vh;
    }
}

/* Wider Screen */
@media (min-width: 768px) {
    /* Typography */
    h2{
        font-size: 3vw;
    }
    
    .featured-text{
        height: 40vh;
    }
    
    .about-title,
    #blog-context-title{
        font-size: 3vw;
    }

    .about-subtitle{
        font-size: 2vw;
    }
    
    /* Layout */
    
    #about-me{
        display: flex;
    }
    
    header .container {
        justify-content: space-between;
        align-items: center;
    }
    
    /* Nav */
    
    header .container,
    nav ul {
        display: flex;
    }
    
    .navbar-brand{
        align-items: center;
        justify-content: flex-start;
        display: flex;
        padding-bottom: 0.3125rem;
        border-bottom: none;
    }
    
    nav li {
        margin-right: 1.25em;
    }
    
    /* Image */
    .profile-pic{
        width: 12vw;
    }
}